.input.wrapper {
  .addTodo {
    color: #000;
    &::placeholder {
      color: #000;
    }
  }
}
[data-theme='dark'] {
  .input.wrapper {
    .custom {
      
    }
    .addTodo {
      background-color: #00fff3;
      color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }
}

[data-theme='light'] {
  .input.wrapper {
    .custom {
      background-color: #00fff3;
    }
    .addTodo {
      background-color: rgb(255 247 0 / 51%);
    }
  }
}
